<h1>Register</h1>

<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>

<form method="post" action="/register">
  <label>Name</label>
  <input type="text" name="name" required>

  <label>Email</label>
  <input type="email" name="email" required>

  <label>Password</label>
  <input type="password" name="password" required>

  <button type="submit">Register</button>
</form>

<p>Already have an account? <a href="/login">Login </a></p>
